<div class="receipt-bonuses">
  <p-fieldset legend="Bonificaciones adicionales">
    <div class="bonus-actions">
      <p-button label="Agregar bonificación" icon="pi pi-plus" (onClick)="addBonus.emit()"></p-button>
    </div>
    <div *ngIf="bonusesForm.length > 0">
      <p-table [value]="bonusesForm.controls" [tableStyle]="{ width: '100%' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group let-i="rowIndex">
          <tr [formGroup]="group">
            <td>
              <p-floatLabel>
                <p-autoComplete
                  inputId="bonusVariant-{{ i }}"
                  [suggestions]="variantOptions"
                  field="label"
                  [forceSelection]="true"
                  [appendTo]="'body'"
                  placeholder="Buscar por SKU, código de barras o nombre"
                  (completeMethod)="searchVariants($event)"
                  [ngModel]="selections[i]"
                  [ngModelOptions]="{ standalone: true }"
                  (onSelect)="setVariant(i, $event.value)"
                  (onClear)="clearVariant(i)"
                ></p-autoComplete>
                <label for="bonusVariant-{{ i }}">Producto</label>
              </p-floatLabel>
            </td>
            <td>
              <p-inputNumber
                inputId="bonusQty-{{ i }}"
                formControlName="quantity"
                [locale]="numberLocale"
                [min]="0"
                [useGrouping]="false"
              ></p-inputNumber>
            </td>
            <td>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                (onClick)="removeBonus.emit(i)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-fieldset>
</div>

