.dialog-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;

  input {
    width: 100%;
  }

  p-inputNumber {
    width: 100%;
  }

  p-select {
    width: 100%;
  }

  .field-help {
    display: block;
    margin-top: .5rem;
    font-size: .85rem;
    opacity: .75;
  }
}