.receipt-lines :global(.p-inputnumber),
.receipt-lines :global(.p-select) {
  width: 100%;
}

.receipt-lines :global(.p-inputnumber-input) {
  width: 100%;
}

input, p-inputnumber, p-select {
  width: 100%;
}