<p-card class="module-card" [class.is-installed]="module.installed">
  <ng-template #title>
    <div class="module-card__titleRow">
      <span class="module-card__titleText">{{ module.name || module.key }}</span>
      <span class="module-card__version" *ngIf="module.version">v{{ module.version }}</span>
    </div>
  </ng-template>

  <ng-template #subtitle>
    <p class="module-card__desc" *ngIf="module.description">{{ module.description }}</p>
  </ng-template>

  <div class="module-card__body">
    <div class="module-card__chips">
      <p-tag *ngIf="module.installed" severity="success" value="Instalado"></p-tag>
      <p-chip *ngIf="module.suite" [label]="module.suite"></p-chip>
      <p-chip *ngIf="module.category" [label]="module.category"></p-chip>
    </div>

    <div class="module-card__deps">
      <div class="module-card__depsTitle">DEPENDENCIAS</div>

      <ng-container *ngIf="module.dependencies?.length; else noDeps">
        <div class="module-card__depsList">
          <p-chip *ngFor="let dep of module.dependencies" [label]="dep"></p-chip>
        </div>
      </ng-container>

      <ng-template #noDeps>
        <div class="module-card__depsEmpty">Sin dependencias</div>
      </ng-template>
    </div>
  </div>

  <ng-template #footer>
    <div class="module-card__footer">
      <p-button
        *ngIf="!module.installed"
        label="Instalar"
        icon="pi pi-download"
        severity="success"
        [disabled]="isInstalling"
        [loading]="isInstalling"
        (onClick)="onInstall()"
      ></p-button>

      <p-button
        *ngIf="module.installed"
        label="Desinstalar"
        icon="pi pi-trash"
        severity="danger"
        [disabled]="isUninstalling"
        [loading]="isUninstalling"
        (onClick)="onUninstall()"
      ></p-button>
    </div>
  </ng-template>
</p-card>
