<section class="workspace-shell">
  <header class="topbar app-navbar">
    <a class="app-title" routerLink="/workspaces">Business Control</a>
    <div class="topbar-right">
      <p-button
        styleClass="app-navbar-btn"
        severity="secondary"
        [text]="true"
        [rounded]="true"
        (onClick)="toggleTheme()"
      >
        <fa-icon [icon]="faMoon"></fa-icon>
      </p-button>
      <p-button
        styleClass="app-navbar-btn"
        *ngIf="isAuthenticated$ | async"
        severity="secondary"
        [text]="true"
        [rounded]="true"
        (onClick)="logout()"
      >
        <fa-icon [icon]="faLogout"></fa-icon>
      </p-button>
    </div>
  </header>

  <p-megaMenu [model]="menuItems" [styleClass]="'workspace-megamenu'"></p-megaMenu>

  <router-outlet></router-outlet>
</section>
