<section class="pos-layout">
  <div class="pos-column">
    <bc-pos-product-selector
      [products]="products"
      [loading]="productsLoading"
      (search)="onSearchProducts($event)"
      (addProduct)="onAddProduct($event)"
    ></bc-pos-product-selector>
  </div>

  <div class="pos-column">
    <bc-pos-cart-lines
      [lines]="cartLines"
      (quantityChange)="onQuantityChange($event.lineId, $event.quantity)"
      (remove)="onRemoveLine($event)"
    ></bc-pos-cart-lines>

    <bc-pos-totals
      [total]="total"
      [itemsCount]="cartLines.length"
      (checkout)="onCheckout($event)"
    ></bc-pos-totals>
  </div>
</section>
