:host {
  display: block;
}

.toolbar-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.supplier-selector {
  margin: 1rem 0;
  max-width: 360px;
}

.field {
  width: 100%;
}

.catalog-table {
  margin-top: 1rem;
}

.actions {
  text-align: right;
  width: 140px;
}
