/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

.pi,
.p-icon,
.p-button-icon,
.p-toolbar .pi {
  color: inherit !important;
}

.bc-dark .p-toolbar .p-button,
.bc-dark .p-toolbar .p-button .pi {
  color: #fff !important;
}

.app-navbar .app-navbar-btn,
.app-navbar .app-navbar-btn .p-button-icon,
.app-navbar .app-navbar-btn .pi {
  color: #fff !important;
}

.app-navbar .app-navbar-btn {
  border-color: rgba(255, 255, 255, 0.65) !important;
}

.app-navbar .app-navbar-btn svg,
.app-navbar .app-navbar-btn svg * {
  stroke: currentColor !important;
  fill: none !important;
}

.pi {
  font-family: 'primeicons' !important;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}
